.form-control{
        width: 90%;
        height: 24px;
    }
    .form-group {
        margin-bottom: 1px;
    }
    hr {
        margin-top: 0px;
        margin-bottom: 0px;
        
        /*border: solid 0.09em #000000;*/
        }
         th {
        
         font-weight: 0;
        /*border: solid 0.09em #000000;*/
        }
    .breadcrumb {
        padding: 0px 0px;
        margin-bottom: 2px;
        list-style: none;
        background-color: #f5f5f5;
        border-radius: 1px;
        text-align:left;
    }
     h5 {
         margin-top: 2px;
         margin-bottom: 2px;
         text-align:left;
    }
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 2px;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        padding: 2px;
    }
    .alert {
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    #jumbotron{
        background-color: #FDFDFD;
border: solid 1px #D3D3D3;
        width:75%; 
        border-radius: 7px; 
        padding-top:3px; 
        padding-bottom: 8px; 
        padding-right: 30px; 
        padding-left: 30px;
    }

    .alinearizquierda{
        text-align:left;
        font-weight: 700;
        color: rgb(208, 154, 92);
    }
    .alinearizquierda2{
        text-align:left;
        font-weight: 700;
    }
    .alinearizquierda3{
        text-align:right;
        font-weight: 700;
    }

    .maxinput{
        width: 15px;
    }

  /*  .celda{
        background-color: blue;
        padding-left: 2px;
        padding-right: 2px;
    }*/
    .form-control {
    width: 90%;
    height: 22px;
    }

    .datagrid table { border-collapse: collapse; text-align: left; width: 100%; } 
    .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; }
    .datagrid table td, 
    .datagrid table th { padding: 0px 5px; }
    .datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #006699) );background:-moz-linear-gradient( center top, #006699 5%, #006699 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#006699');background-color:#006699; color:#FFFFFF; font-size: 12px; font-weight: normal; border-left: 4px solid #F5F5F5; } 
    .datagrid table thead th:first-child { border: none; }
    .datagrid table tbody td { color: #D4984A; font-size: 12px;font-weight: bold; }
    .datagrid table tbody td:first-child { border-left: none; }
    .datagrid table tbody tr:last-child td { border-bottom: none; }

    .nav>li>a {
        position: relative;
        display: block;
        padding: 5px 10px;
    }
    