<div class="row">
            <div class="col-xs-12">
                 <ol class="breadcrumb">
                    <li id="menuprincipal"><a href="#">Menu Principal</a>
                    </li>
                    <li class="active">Consulta de Solicitud</li>
                </ol>
            </div>
    </div>

    <br>
    <div class="datagrid" id="listado">
        <table style="width:100%;" class="table hover">
        	<thead>
        		<tr>
                    <th>
                        
                    </th>
        			<th>
        				Nº DE SOLICITUD
        			</th>
        			<th>
        				FECHA
        			</th>
        			<th>
        				HORA
        			</th>
        			<th>
        				UNIDAD
        			</th>
                    <th>
                        TIPO DE FALLA
                    </th>
                    <th>
                        ESTATUS
                    </th>
        		</tr>
        	</thead>
            <tbody>
                <tr>   
                    <td></td>
                    <td>00000001</td>
                    <td>12/12/14</td>
                    <td>7:00PM</td>
                    <td>asdasd</td>
                    <td>asdsad</td>
                    <td>Reportada</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="modal fade" id="Vermasdos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="img/logo1.png"  class="img-responsive" alt="Responsive image">
      </div>
      <div class="modal-body">
            <div id="alerta"></div>
            <div class="row">
            <div class="col-xs-4">
                    <div class="form-group">
                        <label >Numero de solicitud</label>
                        <input type="text" class="form-control input-sm" id="tNumeroSolicitud">
                    </div>
            </div>
             <div class="col-xs-1">
                    
            </div>
             <div class="col-xs-3">
                   
            </div>
           <div class="col-xs-4">
                <div class="form-group">
                        <label >Fecha de Ingreso</label>
                        <input type="text" class="form-control input-sm " id="Fecha2">
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                   
            </div>
             <div class="col-xs-2">
                    
            </div>
             <div class="col-xs-3">
                   
            </div>
           <div class="col-xs-4">
                <div class="form-group">
                        <label >Hora de inicio</label>
                        <input type="text" class="form-control input-sm" id="reloj2" name="reloj">
                </div>
                
            </div>
        </div>
          
             <div class="row">
                    <div class="col-xs-1">
                    </div>
                    <div class="col-xs-10">
                            <div id="alertas"></div>
                    </div>
                    <div class="col-xs-1">
                    </div>          
             </div> 
 
            <h5><b>DATOS DE UBICACION</b></h5>
            <hr>


    <div class="datagrid">
        <table style="width:100%;" class="table hover">
      
            <thead>
                <tr>
                    <th>
                        COORDINACION
                    </th>
                    <th>
                        DEPARTAMENTO
                    </th>
                    <th>
                        UBICACION
                    </th>
                    <th>
                        TELEFONO
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control input-sm " id="tcoordinacion2">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" id="tdepartamento2">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" id="tubicacion2">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" id="tTelefono2" >
                    </td>
                </tr>
            </tbody>
            </table>
    </div>

            
            <br>
            <h5><b>DATOS DEL EQUIPO</b></h5>
            <hr>
         <div class="datagrid">
                <table style="width:100%;">
                <thead>
                    <tr>
                        <th>
                            CODIGO DE EQUIPO
                        </th>
                        <th>
                            TIPO DE EQUIPO
                        </th>
                        <th>
                            SERIAL
                        </th>
                        <th>
                            CODIGO BIENES
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control input-sm" id="tcodigoequipo2" >
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" id="ttipoequipo2">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" id="tserial2" >
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" id="tcodigobienes2" >
                        </td>
                    </tr>
                   </tbody>
                </table>
            </div>

            <br><hr>
        <h5><b>REPORTE DE FALLAS</b></h5>
            <hr >
            <div style="text-align:left;">
               <div class="form-inline">
                            <label >TIPO DE FALLA</label>
                            <select class="form-control input-sm" id="tipodefalla">
                                <option value="-1"></option>
                                <option >FALLA 1 </option>
                                <option >FALLA 2</option>
                                <option >FALLA 3</option>
                            </select>
                </div>
                <div class="form-inline">
                            <label >DESCRIPCION DE FALLA</label>
                            <select class="form-control input-sm"  id="descripcionfalla">
                                <option value="-1"></option>
                                <option >DESCRIPCION FALLA 1 </option>
                                <option >DESCRIPCION FALLA 2</option>
                                <option >DESCRIPCION FALLA 3</option>
                            </select>
                </div>
            </div>
            <br>
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
       
      </div>
    </div>
  </div>
</div>

       <script type="text/javascript"> 
        $(document).ready(function() {


           
            $.ajax
                ({
                type: "POST",
                url: "modelo/consultasServicio.php",
                data: {id:10},
                async: false,   
                dataType: "json",       
                success:
                function (msg) 
                {   
                    console.log("Tuplas retornadas :" +msg[0].m);
                  
                         $('#listado').html("");
                        
                        var table = $('<table style="width:100%;" class="table"></table>');                         
                        var row=$('<thead></thead>').append("<tr></tr>")
                        $('#listado').append(ListarTabla(msg, table, row));  
                        eventoslistado();        
                    
                 },
                    error:
                    function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                });
        function eventoslistado(){

        $('a.vermas').on('click',  function(){
            var ID=$(this).attr('name');
          $.ajax
                ({
                type: "POST",
                url: "modelo/consultasServicio.php",
                data: {id:6, idservicio:ID},
                async: false,   
                dataType: "json",       
                success:
                function (msg) 
                {   
                   // console.log(msg);
                    tNumeroSolicitud.value=ID;
                    console.log("Fecha: "+ msg[0].fechadeingreso );
                    $('#Fecha2').val(msg[0].fechadeingreso);
                    reloj2.value=msg[0].hora;
                    tcoordinacion2.value=msg[0].coordinacion;
                    tdepartamento2.value=msg[0].departamento;
                    tubicacion2.value=msg[0].ubicacion;
                    tTelefono2.value=msg[0].telefono;
                    tcodigoequipo2.value=msg[0].codigodeequipo;
                    ttipoequipo2.value=msg[0].tipoequipo;
                    tserial2.value=msg[0].serial;
                    tcodigobienes2.value=msg[0].codigobienes;
                    $('#tipodefalla').val(msg[0].tipodefalla);
                    $('#descripcionfalla').val(msg[0].descripciondefalla);
                   /* obtenerTecnicos();
                    asignar();
                    buscarAsignacion(msg[0].id);*/
                 },
                    error:
                    function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                });
           
        });
        
       }
        
        function ListarTabla(msg, table, row){         
                row.append($('<th></th>').html(""));
                row.append($('<th></th>').html("<b>Nº DE SOLICITUD</b>"));                            
                row.append($('<th></th>').html("<b>FECHA</b>"));
                row.append($('<th></th>').html("<b>HORA</b>"));
                row.append($('<th></th>').html("<b>TIPO DE FALLA</b>"));
                row.append($('<th></th>').html("<b>ESTATUS</b>"));
                row.append($('<th></th>').html("<b>REPORTADO POR</b>"));
                row.append($('<th></th>').html("<b>DETALLES</b>"));
                table.append(row);  
                var row2 = $('<tbody></tbody>');

                for(i=0; i<msg[0].m; i++){
                   
                        var row3=$('<tr></tr>');
                        var fila0=$('<td></td>').text((i+1));
                        var fila1 = $('<td></td>').text(msg[i].id);
                        var fila2 = $('<td></td>').text(msg[i].fechadeingreso);
                        var fila3 = $('<td></td>').text(msg[i].hora);
                        var fila4 = $('<td></td>').text(msg[i].tipodefalla);
                        var fila5="";
                        if(msg[i].estatus=="1")
                        var fila5 = $('<td></td>').text("No Asignado");
                        if(msg[i].estatus=="2")
                        var fila5 = $('<td></td>').text("Asignado");
                        if(msg[i].estatus=="3")
                        var fila5 = $('<td></td>').text("Solucionado");
                        if(msg[i].estatus=="4")
                        var fila5 = $('<td></td>').text("No Solucionado");                     
                        

                        var fila6 =$('<td></td>').text(msg[i].reportadopor);
                        var fila7=$('<td></td>').append('<a  class="vermas btn btn-default btn-xs" data-toggle="modal" data-target="#Vermasdos"  title="Ver mas" name="'+msg[i].id+'"> <span class="glyphicon glyphicon-plus"></span></a>');        
                         row3.append(fila0);
                        row3.append(fila1);
                        row3.append(fila2);
                        row3.append(fila3);
                        row3.append(fila4);  
                        row3.append(fila5);
                        row3.append(fila6);
                        row3.append(fila7); 

                        row2.append(row3);                              
                       
                    
                     
                }
                table.append(row2);
                return table;
            }

        });
    </script>