

			<div class="row">
			            <div class="col-xs-12">
			                 <ol class="breadcrumb">
			                    <li id="menuprincipal"><a href="#">MENU PRINCIPAL</a>
			                    </li>
			                    <li class="active">DATOS DEL  USUARIO</li>
			                </ol>
			            </div>
			    </div>

			    <div class="row">
			            <div class="col-xs-4">
			                 
			            </div>
			            <div class="col-xs-2">
			                 <button type="button" class="btn btn-default btn-xs" id="guardar"><span class="glyphicon glyphicon-floppy-save"></span> GUARDAR</button>
			            </div>
			            <div class="col-xs-2">
			                 <button type="button" class="btn btn-default btn-xs" id="modificar" disabled><span class="glyphicon glyphicon-pencil"></span> MODIFICAR</button>
			            </div>
			            <div class="col-xs-2">
			                 <button type="button" class="btn btn-default btn-xs" id="eliminar" disabled><span class="glyphicon glyphicon-remove"></span> ELIMINAR</button>
			            </div>
			            <div class="col-xs-2">
			                 <button type="button" class="btn btn-default btn-xs" id="imprimir"><span class="glyphicon glyphicon-print"></span> IMPRIMIR</button>
			            </div>
			    </div>
			    <br>
			    <div class="row">
		     		<div class="col-xs-1">
		     		</div>
		            <div class="col-xs-10">
							<div id="alertas"></div>
					</div>
					<div class="col-xs-1">
		     		</div>			
	       		 </div> 
			    <div class="row">
		            <div class="col-xs-1">							
								CEDULA:					
					</div>
					  <div class="col-xs-3">
							<input type="text" class="form-control" id="tcedula">
					</div>
					  <div class="col-xs-1">
						<button class="btn btn-default btn-xs" type="button" id="buscarcedula"><span class="glyphicon glyphicon-search"></span>Buscar</button>
					</div>			
		       </div> 
		       	<br>
			    <div class="alinearizquierda">Datos del Usuario</div> 
			       
			       <table class="well" style="width:100%;">
				       	<tr>
				       		<td>Cedula:</td>
				       		<td><input type="text" class="form-control input-sm" id="tcedula2" ></td>
				       		<td>Nombre:</td>
				       		<td><input type="text" class="form-control  input-sm" id="tnombre" ></td>
				       		<td>Cargo:</td>
				       		<td><input type="text" class="form-control input-sm" id="tcargo" ></td>
				       		<td>Tipo de Usuario:</td>
	       					<td> <select class="form-control input-sm" id="tipo">
	       							<option value="-1"></option>
	       							<option >Usuario General</option>
	       							<option>Tecnico</option>
	       							<option>Administrador</option>
	       						</select></td>
				       	</tr>			       	
			       </table>
			    <div class="alinearizquierda">Ubicacion del Usuario</div> 
			    <table class="well"  style="width:100%;">
			       	<tr>
			       		<td>Unidad General:</td>
			       		<td>
			       			<select class="form-control input-sm" id="UnidadGeneral">
								<option value="-1"></option>
								<option >1</option>
								<option >2</option>
			       			</select>
		       			</td>
			       		<td>Sub-Unidad General:</td>
			       		<td>
			       			<select class="form-control input-sm" id="SubUnidadGeneral">
			       				<option value="-1"></option>
								<option >1</option>
								<option >2</option>
			       			</select>
		       			</td>
			      	</tr>
			      	<tr>
			      		<td>
			      			Unidad:
			      		</td>
			      		<td>
			       			<select class="form-control input-sm" id="unidad">
			       				<option value="-1"></option>
								<option >1unidad</option>
								<option >2unidad</option>
			       			</select>
			      			
			      		</td>
			      		<td>
			      			Sub-Unidad
			      		</td>
			      		<td>
			       			<select class="form-control input-sm" id="UnidadGeneral2">
			       				<option value="-1"></option>
								<option >1</option>
								<option >2</option>
			       			</select>
			      			
			      		</td>
			      	</tr>
			       </table>
			       <div class="alinearizquierda">Registro de Usuario</div> 
				       <table class="well" style="width:100%;">
				       	<tr>
				       		<td>
				       			Usuario:
				       		</td>
							<td>
								<input type="text" class="form-control" id="tUsuario" >
							</td>
							<td>
								Clave:
							</td>
							<td>
								<input type="text" class="form-control" id="tclave" >			
							</td>
							<td></td>
							<td></td>
				       	</tr>
				       </table>
			    
			  
        </div>     
      </div>


    <script type="text/javascript">	
	$(document).ready(function() {

	
	    $('#guardar').on("click", function() {
			console.log(validarRegistro());
			if (validarRegistro()) {
				alertas.innerHTML="";
				$.ajax
					({
					type: "POST",
				   	url: "modelo/consultasUsuario.php",
				   	data: {id:6, nombre:tnombre.value, cargo:tcargo.value, usuario:tUsuario.value, clave:tclave.value,  unidadgeneral:UnidadGeneral.value, subunidadgeneral:SubUnidadGeneral.value, unidad:unidad.value, unidadgeneral2:UnidadGeneral2.value, cedula:tcedula2.value, tipo:tipo.value},
					async: false,	
					dataType: "json",	
					success:
				    function (msg) 
					{	console.log("cedula repetidad? " +msg);
						if(msg=="false"){
							alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡El nombre de usuario o la cedula ya existe por favor escriba otro!</div>';
						}
						else{
							limpiar();
							alertas.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha registrado correctamente!</div>';
						}
				     },
				        error:
				        function (msg) {console.log( msg +"No se pudo realizar la conexion");}
					});

			}
		});
		$('#buscarcedula').on("click", function() {
			console.log(validarBusquedadeCedula());
			if (validarBusquedadeCedula()) {
				alertas.innerHTML="";
				console.log("Cedula a buscar "+tcedula.value);
				$.ajax
					({
					type: "POST",
				   	url: "modelo/consultasUsuario.php",
				   	data: {id:7, cedula:tcedula.value},
					async: false,	
					dataType: "json",	
					success:
				    function (msg) 
					{	console.log(msg[0].m);
						if(msg[0].m>0){
							alertas.innerHTML="";
							console.log("Nombre: "+msg[0].nombre);
							tnombre.value=msg[0].nombre;
							tcargo.value=msg[0].cargo;

							
							tcedula2.value=msg[0].cedula;
							tUsuario.value=msg[0].usuario;

							tclave.value=msg[0].clave;
							$('#tipo').val(msg[0].tipo);
							$('#UnidadGeneral').val(msg[0].unidadgeneral);
							$('#unidad').val(msg[0].unidad);
							$('#SubUnidadGeneral').val(msg[0].subunidadgeneral);
							$('#UnidadGeneral2').val(msg[0].unidadgeneral2);

							$('#modificar').attr('disabled',false);
							$('#eliminar').attr('disabled',false);
							$('#guardar').attr('disabled',true);
							$('#tUsuario').attr('disabled',true);
						}
						else{
							alertas.innerHTML='<div class="alert alert-warning alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Cedula no encontrada!</div>';
						}
						
				     },
				        error:
				        function (msg) {console.log( msg +"No se pudo realizar la conexion");}
					});


			}
		});
	$('#modificar').on("click", function() {
		$.ajax
					({
					type: "POST",
				   	url: "modelo/consultasUsuario.php",
				   	data: {id:8, nombre:tnombre.value, usuario:tUsuario.value, cargo:tcargo.value, clave:tclave.value,  unidadgeneral:UnidadGeneral.value, subunidadgeneral:SubUnidadGeneral.value, unidad:unidad.value, unidadgeneral2:UnidadGeneral2.value, cedula:tcedula2.value, tipo:tipo.value},
					async: false,	
					dataType: "json",	
					success:
				    function (msg) 
					{	console.log(msg);
						if(msg=="true"){
							alertas.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha modificado correctamente!</div>';
							limpiar();
							$('#modificar').attr('disabled',true);
							$('#eliminar').attr('disabled',true);
							$('#guardar').attr('disabled',false);
							$('#tUsuario').attr('disabled',false);
						}					
						
				     },
				        error:
				        function (msg) {console.log( msg +"No se pudo realizar la conexion");}
					});
	});
	$('#eliminar').on("click", function() {
	
			$.ajax
					({
					type: "POST",
				   	url: "modelo/consultasUsuario.php",
				   	data: {id:9, usuario:tUsuario.value},
					async: false,	
					dataType: "json",	
					success:
				    function (msg) 
					{	console.log(msg);
						if(msg=="true"){
							alertas.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha Eliminado correctamente!</div>';
							limpiar();
							$('#modificar').attr('disabled',true);
							$('#eliminar').attr('disabled',true);
							$('#guardar').attr('disabled',false);
							$('#tUsuario').attr('disabled',false);
						}
						
						
				     },
				        error:
				        function (msg) {console.log( msg +"No se pudo realizar la conexion");}
					});
	});
	$('#imprimir').on("click", function() {
		focus();
        print();

	});
		function limpiar(){
			tnombre.value="";
			tcargo.value="";			
			tUsuario.value="";
			tclave.value="";
			UnidadGeneral.value="";
			SubUnidadGeneral.value="";
			unidad.value="";
			UnidadGeneral2.value="";
			tcedula2.value="";
		}
		function validarBusquedadeCedula(){
			if(!tcedula.value.match(/^[0-9]+$/)){
				alertas.innerHTML='<div class="alert alert-warning alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor escriba una <b>Cedula</b> Valida!</div>';
				return false;
			}
			else {return true;}
		}
	    function validarRegistro(){
	    	console.log("Tamano de la clave es de: "+(tclave.value).length)
			if(!tcedula2.value.match(/^[0-9]+$/))
			{  
				alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor llene el campo <b>cedula</b> con numeros solamente!</div>';
				return false;
			}

			else if(tnombre.value=="")
			{  
		        alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor llene el campo <b>Nombre</b>!</div>';
				return false;
			}		
			
			else if(tcargo.value=="")
			{  
				alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor llene el campo <b>Cargo</b>!</div>';
				return false;
			}
			else if(tipo.value=="-1")
			{  
				alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor llene el campo <b>Tipo de Usuario</b>!</div>';
				return false;
			}
			
			
			else if(UnidadGeneral.value=="-1")
			{  
		        alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor Seleccione una <b>Unidad General</b>!</div>';
				return false;
			}
			else if(SubUnidadGeneral.value=="-1")
			{  
				alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor Seleccione una  <b>Sub-Unidad General</b>!</div>';
				return false;
			}
			else if(unidad.value=="-1")
			{  
				alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor Seleccione una  <b>Unidad</b>!</div>';
				return false;
			}
			else if(UnidadGeneral2.value=="-1")
						{  
				alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor Seleccione una <b>Unidad General</b>!</div>';
				return false;
			}
			else if(tUsuario.value=="")
			{  
				alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor llene el campo <b>Usuario</b>!</div>';
				return false;
			}
			else if(tclave.value==""||(tclave.value).length<=5)
						{  
				alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor llene el campo <b>Clave</b>, con una longitud minima de 6 caracteres!</div>';
				
				return false;
			}
			
			else {return true;}
	    }
	});
</script>


