<div class="form-group">
   <button type="button" class="btn btn-default btn-xs" id="consultasoReportes">CONSULTAS O REPORTES</button>
  </div>
  <div class="form-group">
   <button type="button" class="btn btn-default btn-xs" id="reasignarsolicitudes">REASIGNAR SOLICITUDES</button>
  </div>