

			<div class="row">
			            <div class="col-xs-12">
			                 <ol class="breadcrumb">
			                    <li id="menuprincipal"><a href="#">MENU PRINCIPAL</a>
			                    </li>
			                    <li class="active">DATOS DEL  EQUIPO</li>
			                </ol>
			            </div>
			    </div>

			    <div class="row">
			            <div class="col-xs-4">
			                 
			            </div>
			            <div class="col-xs-2">
			                 <button type="button" class="btn btn-default btn-xs" id="guardar"><span class="glyphicon glyphicon-floppy-save"></span> GUARDAR</button>
			            </div>
			            <div class="col-xs-2">
			                 <button type="button" class="btn btn-default btn-xs" id="modificar" disabled><span class="glyphicon glyphicon-pencil"></span> MODIFICAR</button>
			            </div>
			            <div class="col-xs-2">
			                 <button type="button" class="btn btn-default btn-xs" id="eliminar" disabled><span class="glyphicon glyphicon-remove"></span> ELIMINAR</button>
			            </div>
			            <div class="col-xs-2">
			                 <button type="button" class="btn btn-default btn-xs" id="imprimir"><span class="glyphicon glyphicon-print"></span> IMPRIMIR</button>
			            </div>
			    </div>
			    <br>
			    <div class="row">
		     		<div class="col-xs-1">
		     		</div>
		            <div class="col-xs-10">
							<div id="alertasEquipo"></div>
					</div>
					<div class="col-xs-1">
		     		</div>			
	       		 </div> 
			    <div class="row">
		            <div class="col-xs-1">							
								SERIAL:					
					</div>
					  <div class="col-xs-3">
							<input type="text" class="form-control" id="tcedula">
					</div>
					  <div class="col-xs-1">
						<button class="btn btn-default btn-xs" type="button" id="buscarcedula"><span class="glyphicon glyphicon-search"></span>Buscar</button>
					</div>			
		       </div> 
		       	<br>
			    <div class="alinearizquierda">Datos del Equipo</div> 
			       
			        <table style="width:100%;">
            <thead>
                <tr>
                    <th>
                        CODIGO DE EQUIPO
                    </th>
                    <th>
                        TIPO DE EQUIPO
                    </th>
                    <th>
                        SERIAL
                    </th>
                    <th>
                        CODIGO BIENES
                    </th>
                </tr>
            </thead>
                <tr>
                    <td>
                        <input type="text" class="form-control input-sm" id="tcodigoequipo2" value="ce000001">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" id="ttipoequipo2" value="te000001" >
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" id="tserial2" value="s000001">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" id="tcodigobienes2" value="cb000001" >
                    </td>
                </tr>
            </table>
			    <br><br><hr>	  
        </div>     
      </div>


    <script type="text/javascript">	
	$(document).ready(function() {

	
	    $('#guardar').on("click", function() {
			console.log(validarRegistro());
			if (validarRegistro()) {
				alertasEquipo.innerHTML="";
				$.ajax
		 			({
					type: "POST",
				   	url: "modelo/consultasEquipo.php",
				   	data: {id:1, codigoequipo:tcodigoequipo2.value, tipo:ttipoequipo2.value, serial:tserial2.value, codigobienes:tcodigobienes2.value},
					async: false,	
					dataType: "json",	
					success:
				    function (msg) 
					{	console.log(msg);
						if(msg=="true"){
							alertasEquipo.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha registrado correctamente!</div>';

								tcodigoequipo2.value="";
								ttipoequipo2.value="";
								tserial2.value="";
								tcodigobienes2.value="";
						}
						if(msg=="1"){
							alertasEquipo.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡El Serial escrito ya existe por favor escriba otro!</div>';
						}
						if(msg=="2"){
							alertasEquipo.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡El Codigo Bienes escrito ya existe por favor escriba otro!</div>';
						}
						if(msg=="3"){
							alertasEquipo.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡El Codigo de Equipo escrito ya existe por favor escriba otro!</div>';
						}
						/*if(msg=="false"){
							alertasEquipo.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡El nombre de usuario o la cedula ya existe por favor escriba otro!</div>';
						}
						else{
							limpiar();
							alertasEquipo.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha registrado correctamente!</div>';
						}*/
				     },
				        error:
				        function (msg) {console.log( msg +"No se pudo realizar la conexion");}
					});

			}
		});
		$('#buscarcedula').on("click", function() {
			console.log(validarBusquedadeCedula());
			if (tcedula.value!="") {
				alertasEquipo.innerHTML="";
				console.log("Serial a buscar "+tcedula.value);
				$.ajax
					({
					type: "POST",
				   	url: "modelo/consultasEquipo.php",
				   	data: {id:2, cedula:tcedula.value},
					async: false,	
					dataType: "json",	
					success:
				    function (msg) 
					{	console.log(msg[0].m);
						if(msg[0].m>0){
							alertasEquipo.innerHTML="";
							
							tcodigoequipo2.value=msg[0].codigoequipo;
							ttipoequipo2.value=msg[0].tipo;
							tserial2.value=msg[0].serial;
							tcodigobienes2.value=msg[0].codigobienes;

							$('#modificar').attr('disabled',false);
							$('#eliminar').attr('disabled',false);
							$('#guardar').attr('disabled',true);
							$('#tUsuario').attr('disabled',true);
						}
						else{
							alertasEquipo.innerHTML='<div class="alert alert-warning alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Equipo no encontrado!</div>';
						}
						
				     },
				        error:
				        function (msg) {console.log( msg +"No se pudo realizar la conexion");}
					});


			}
		});
	$('#modificar').on("click", function() {
		$.ajax
					({
					type: "POST",
				   	url: "modelo/consultasEquipo.php",
				   	data: {id:3, codigoequipo:tcodigoequipo2.value, tipo:ttipoequipo2.value, serial:tserial2.value, codigobienes:tcodigobienes2.value},
					async: false,	
					dataType: "json",	
					success:
				    function (msg) 
					{	console.log(msg);
						if(msg=="true"){
							alertasEquipo.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha modificado correctamente!</div>';
							tcodigoequipo2.value="";
							ttipoequipo2.value="";
							tserial2.value="";
							tcodigobienes2.value="";
							$('#modificar').attr('disabled',true);
							$('#eliminar').attr('disabled',true);
							$('#guardar').attr('disabled',false);
							$('#tUsuario').attr('disabled',false);
						}		
						if(msg=="1"){
							alertasEquipo.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡El Serial escrito ya existe por favor escriba otro!</div>';
						}
						if(msg=="2"){
							alertasEquipo.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡El Codigo Bienes escrito ya existe por favor escriba otro!</div>';
						}
						if(msg=="3"){
							alertasEquipo.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡El Codigo de Equipo escrito ya existe por favor escriba otro!</div>';
						}			
						
				     },
				        error:
				        function (msg) {console.log( msg +"No se pudo realizar la conexion");}
					});
	});
	$('#eliminar').on("click", function() {
	
			$.ajax
					({
					type: "POST",
				   	url: "modelo/consultasEquipo.php",
				   	data: {id:4},
					async: false,	
					dataType: "json",	
					success:
				    function (msg) 
					{	console.log(msg);
						if(msg=="true"){
							alertasEquipo.innerHTML='<div class="alert alert-success alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Se ha Eliminado correctamente!</div>';
							tcodigoequipo2.value="";
							ttipoequipo2.value="";
							tserial2.value="";
							tcodigobienes2.value="";
							$('#modificar').attr('disabled',true);
							$('#eliminar').attr('disabled',true);
							$('#guardar').attr('disabled',false);
							$('#tUsuario').attr('disabled',false);
						}
						
						
				     },
				        error:
				        function (msg) {console.log( msg +"No se pudo realizar la conexion");}
					});
	});
	$('#imprimir').on("click", function() {
		focus();
        print();

	});
		function limpiar(){
			tnombre.value="";
			tcargo.value="";			
			tUsuario.value="";
			tclave.value="";
			UnidadGeneral.value="";
			SubUnidadGeneral.value="";
			unidad.value="";
			UnidadGeneral2.value="";
			tcedula2.value="";
		}
		function validarBusquedadeCedula(){
			if(!tcedula.value.match(/^[0-9]+$/)){
				alertasEquipo.innerHTML='<div class="alert alert-warning alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor escriba una <b>Cedula</b> Valida!</div>';
				return false;
			}
			else {return true;}
		}
	    function validarRegistro(){
	    	if(tcodigoequipo2.value=="")
			{  
		        alertasEquipo.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor llene el campo <b>Codigo Equipo</b>!</div>';
				return false;
			}		
			
			else if(ttipoequipo2.value=="")
			{  
				alertasEquipo.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor llene el campo <b>Tipo de Equipo</b>!</div>';
				return false;
			}
			else if(tserial2.value=="")
			{  
				alertasEquipo.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor llene el campo <b>Serial</b>!</div>';
				return false;
			}
			
			
			else if(tcodigobienes2.value=="")
			{  
		        alertasEquipo.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor Seleccione una <b>Codigo Bienes</b>!</div>';
				return false;
			}
			
			else {return true;}
	    }
	});
</script>


