<link rel="stylesheet" type="text/css" href="css/bootstrap-multiselect.css">
<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
<div class="row">
        <div class="col-xs-12">
             <ol class="breadcrumb">
                <li id="menuprincipal"><a href="#">MENU PRINCIPAL</a>
                </li>
                <li class="active">CONSULTAS DE SOLICITUDES ASIGNADAS</li>
            </ol>
        </div>
</div>
<BR><HR><BR>

<div class="row">
            <div class="col-xs-3">
              	Seleccionar  Tecnico  
            </div>
            
          
            <div class="col-xs-3">
                 <select class="form-control"  id="tTecnicos">
                 	<option value="-1">Seleccione Aqui</option>
     			</select>
            </div>
            <div class="col-xs-3">
                 <div id="alerta">
                 	
                 </div>
            </div>
          
            <div class="col-xs-3">
                <button type="button" class="btn btn-default" id="Buscar">Ver solicitudes</button>
                 
            </div>
    </div>
    <hr>
    <br>
    <div class="alinearizquierda2" id="resultadonumero"></div>
    <div class="datagrid" id="listado">
        <table style="width:100%;" class="table hover">
        	<thead>
        		<tr>
                    <th>
                        
                    </th>
        			<th>
        				Nº DE SOLICITUD
        			</th>
        			<th>
        				FECHA
        			</th>
        			<th>
        				HORA
        			</th>
        			<th>
        				UNIDAD
        			</th>
                    <th>
                        TIPO DE FALLA
                    </th>
                    <th>
                        REPORTADO POR
                    </th>
        		</tr>
        	</thead>
            <tbody>
                <!-- <tr>   
                    <td></td>
                    <td>00000001</td>
                    <td>12/12/14</td>
                    <td>7:00PM</td>
                    <td>asdasd</td>
                    <td>asdsad</td>
                    <td>Reportada</td>
                </tr> -->
            </tbody>
        </table>









 <script type="text/javascript">	
	$(document).ready(function() {

		$.ajax
					({
					type: "POST",
				   	url: "modelo/consultasServicio.php",
				   	data: {id:11},
					async: false,	
					dataType: "json",	
					success:
				    function (msg) 
					{	
                        
						for(i=0; i<msg[0].m; i++)
							{
								
								console.log(msg[i].nombre + "  " + msg[i].cedula);
								tTecnicos.options[i+1]= new Option (msg[i].nombre + "  " + msg[i].cedula);
								tTecnicos.options[i+1].text =msg[i].nombre + "  " + msg[i].cedula;
								tTecnicos.options[i+1].value =msg[i].id;	

							}
				     },
				        error:
				        function (msg) {console.log( msg +"No se pudo realizar la conexion");}
					});
	$('#Buscar').on("click", function() {
		if(tTecnicos.value!="-1"){
			alerta.innerHTML='';
			 $.ajax
                ({
                type: "POST",
                url: "modelo/consultasServicio.php",
                data: {id:12, idTecnico:tTecnicos.value},
                async: false,   
                dataType: "json",       
                success:
                function (msg) 
                {   
                  
                         $('#listado').html("");
                        
                        var table = $('<table style="width:100%;" class="table"></table>');                         
                        var row=$('<thead></thead>').append("<tr></tr>")
                        $('#listado').append(ListarTabla(msg, table, row));  
                    
                 },
                    error:
                    function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                });
            }
            else{
            	alerta.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Seleccion un tecnico!</div>';
            }
        });
		$('#tTecnicos').multiselect({
		        	enableFiltering: true,
		            filterPlaceholder: 'Buscar',

		        
         
   		 });

		function ListarTabla(msg, table, row){         
                row.append($('<th></th>').html(""));
                row.append($('<th></th>').html("<b>Nº DE SOLICITUD</b>"));                            
                row.append($('<th></th>').html("<b>FECHA</b>"));
                row.append($('<th></th>').html("<b>HORA</b>"));
                row.append($('<th></th>').html("<b>TIPO DE FALLA</b>"));
                row.append($('<th></th>').html("<b>ESTATUS</b>"));
                row.append($('<th></th>').html("<b>REPORTADO POR</b>"));
                table.append(row);  
                var row2 = $('<tbody></tbody>');
                resultadonumero.innerHTML="Mostrando <span class='badge'>"+msg[0].m+"</span> Resultados";
                for(i=0; i<msg[0].m; i++){
                   
                        var row3=$('<tr></tr>');
                        var fila0=$('<td></td>').text((i+1));
                        var fila1 = $('<td></td>').text(msg[i].id);
                        var fila2 = $('<td></td>').text(msg[i].fechadeingreso);
                        var fila3 = $('<td></td>').text(msg[i].hora);
                        var fila4 = $('<td></td>').text(msg[i].tipodefalla);
                        var fila5="";
                        if(msg[i].estatus=="1")
                        var fila5 = $('<td></td>').text("No Asignado");
                        if(msg[i].estatus=="2")
                        var fila5 = $('<td></td>').text("Asignado");
                        if(msg[i].estatus=="3")
                        var fila5 = $('<td></td>').text("Solucionado");
                        if(msg[i].estatus=="4")
                        var fila5 = $('<td></td>').text("No Solucionado");                     
                        

                        var fila6 =$('<td></td>').text(msg[i].reportadopor);
                         row3.append(fila0);
                        row3.append(fila1);
                        row3.append(fila2);
                        row3.append(fila3);
                        row3.append(fila4);  
                        row3.append(fila5);
                        row3.append(fila6);

                        row2.append(row3);                              
                       
                    
                     
                }
                table.append(row2);
                return table;
            }
               
       
	});
</script>