<div class="row">
			            <div class="col-xs-12">
			                 <ol class="breadcrumb">
			                    <li id="menuprincipal"><a href="#">MENU PRINCIPAL</a>
			                    </li>
			                    <li class="active">Tiempos de Respuesta</li>
			                </ol>
			            </div>
			    </div>
			    <br>
			    <div id="alertas"></div>
			    <hr>
			    <table style="width:100%;" class="well">
			    	<tr>
			    		<td><b> Fecha:</b> Desde:</td>
			    		<td><input type="date" class="form-control" id="Fechadesde1"></td>
			    		<td>Hasta:</td>
			    		<td><input type="date" class="form-control" id="FechaHasta1"></td>
			    		
			    		<td><button class="btn btn-default btn-xs" type="button" id="buscar1"><span class="glyphicon glyphicon-search"></span></button></td>
			    	</tr>
			    </table>

			    <br>
			    <div class="alinearizquierda">Listado de Solicitudes</div>

			    <div class="datagrid" id="listado">
			    	<table style="width:100%">
			    	<thead>
			    		<tr>
			    			<th>Nº DE SOLICITUD</th>
			    			<th>FECHA DE INGRESO</th>
			    			<th>FECHA FINAL</th>
			    			<th>TIEMPO DE RESPUESTA <small>(dias)</small></th>
			    		</tr>
			    	</thead>
			    	<tbody>
			    		
			    	</tbody>
			    </table>
			    </div>
			    
			    <br>
			    <hr>
			    <div id="alertas2"></div>
			    <div class="alinearizquierda">Tiempo Promedio de Respuesta</div>
			    
			    <table style="width:100%" class="well" >
			    	<tr>
			    		<td><b> Fecha:</b> Desde:</td>
			    		<td><input type="date" class="form-control" id="Fechadesde2"></td>
			    		<td>Hasta:</td>
			    		<td><input type="date" class="form-control" id="FechaHasta2"></td>
			    		
			    		<td><button class="btn btn-default btn-xs" type="button" id="buscar2"><span class="glyphicon glyphicon-search"></span>Calcular</button></td>
			    	</tr>

			    </table>
			    	<hr>
			    	<br>
			    <table>
			    	<tr>
			    		<td>Tiempo Promedio de Respuesta <small>(dias)</small>=</td>
			    		<td><input type="text" class="form-control" id="tiempopromedio"></td>
			    	</tr>
			    </table>
			    
			  
        </div>     
      </div>
 <script type="text/javascript"> 
        $(document).ready(function() {
        	  $('#buscar1').on('click',  function(){
	        	  	if(validarBusqueda1()){
	        	  		$.ajax
			                ({
			                type: "POST",
			                url: "modelo/consultasAsignaciones.php",
			                data: {id:7, fecha1:Fechadesde1.value, fecha2:FechaHasta1.value},
			                async: false,   
			                dataType: "json",       
			                success:
			                function (msg) 
			                {   
			                	console.log("REtornado: "+ msg[0].m);
				                  $('#listado').html("");
					            
					            var table = $('<table style="width:100%;" class="table"></table>');                         
					            var row=$('<thead></thead>').append("<tr></tr>")
				            $('#listado').append(ListarTabla(msg, table, row));  
			                 },
			                    error:
			                    function (msg) {console.log( msg +"No se pudo realizar la conexion");}
			                });
	        	  	}

        	  });
			 $('#buscar2').on('click',  function(){
	        	  	if(validarBusqueda2()){
	        	  		$.ajax
			                ({
			                type: "POST",
			                url: "modelo/consultasAsignaciones.php",
			                data: {id:8, fecha1:Fechadesde2.value, fecha2:FechaHasta2.value},
			                async: false,   
			                dataType: "json",       
			                success:
			                function (msg) 
			                {   
			                	console.log("acumulado"+ msg[0].acumulado + " promedio: "+ msg[0].promedio + "  veces: " + msg[0].veces);
			                	tiempopromedio.value=msg[0].promedio;

			                	for (var i = 0; i<msg[0].m; i++) {
			                		console.log("acumulado "+i+" : "+msg[i].acumulado);
			                	}
				                 
			                 },
			                    error:
			                    function (msg) {console.log( msg +"No se pudo realizar la conexion");}
			                });
	        	  	}

        	  });
    	  function ListarTabla(msg, table, row){         
               
                row.append($('<th></th>').html("Nº DE SOLICITUD"));                            
                row.append($('<th></th>').html("FECHA DE INGRESO"));
                row.append($('<th></th>').html("FECHA FINAL"));
                
                row.append($('<th></th>').html("TIPO DE FALLA</b>"));
                row.append($('<th></th>').html("TIEMPO DE RESPUESTA <small> (dias)</mall>"));

                table.append(row);  
                var row2 = $('<tbody></tbody>');

                for(i=0; i<msg[0].m; i++){
                   
                        var row3=$('<tr></tr>');
                        var fila1 = $('<td></td>').text(msg[i].idsolicitud);
                        var fila2 = $('<td></td>').text(msg[i].fechadeingreso);
                        var fila3 = $('<td></td>').text(msg[i].fechainforme);
                        var fila4 = $('<td></td>').text(msg[i].tipodefalla);
                        var fila5 = $('<td></td>').text(msg[i].tiempoderespuesta);
                        row3.append(fila1);
                        row3.append(fila2);
                        row3.append(fila3);
                        row3.append(fila4);  
                        row3.append(fila5);
                        row2.append(row3);                              
                       
                    
                     
                }
                table.append(row2);
                return table;
            }
     	 function validarBusqueda1(){
        	  	
			if(Fechadesde1.value=="")
			{  
				alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor llene el campo <b>Fecha Desde</b>!</div>';
				return false;
			}
			else if(FechaHasta1.value=="")
			{  
		        alertas.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor llene el campo <b>Fecha Hasta</b>!</div>';
				return false;
			}		
			
			else {return true;}
			

		}
	    function validarBusqueda2(){

			if(Fechadesde2.value=="")
			{  
		        alertas2.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor llene el campo <b>Fecha Desde</b>!</div>';
				return false;
			}	
			
			else if(FechaHasta2.value=="")
			{  
		        alertas2.innerHTML='<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>¡Por Favor llene el campo <b>Fecha Hasta</b>!</div>';
				return false;
			}		
			
			
			else {return true;}
	  	}
        });
 </script>