<div class="row">
            <div class="col-xs-12">
                 <ol class="breadcrumb">
                    <li id="menuprincipal"><a href="#">Menu Principal</a>
                    </li>
                    <li class="active">Consulta de Solicitud</li>
                </ol>
            </div>
    </div>
    <br>
    <div class="alinearizquierda2" id="resultadonumero"></div>

    <div class="datagrid" id="listado">
        <table style="width:100%;" class="table hover">
        	<thead>
        		<tr>
                    <th>
                        
                    </th>
        			<th>
        				Nº DE SOLICITUD
        			</th>
        			<th>
        				FECHA
        			</th>
        			<th>
        				HORA
        			</th>
        			<th>
        				UNIDAD
        			</th>
                    <th>
                        TIPO DE FALLA
                    </th>
                    <th>
                        ESTATUS
                    </th>
        		</tr>
        	</thead>
            <tbody>
                <tr>   
                    <td></td>
                    <td>00000001</td>
                    <td>12/12/14</td>
                    <td>7:00PM</td>
                    <td>asdasd</td>
                    <td>asdsad</td>
                    <td>Reportada</td>
                </tr>
            </tbody>
        </table>
    </div>

       <script type="text/javascript"> 
        $(document).ready(function() {

       console.log
           
            $.ajax
                ({
                type: "POST",
                url: "modelo/consultasServicio.php",
                data: {id:4 },
                async: false,   
                dataType: "json",       
                success:
                function (msg) 
                {   
                    console.log(msg);
                    
                         $('#listado').html("");
                        
                        var table = $('<table style="width:100%;" class="table"></table>');                         
                        var row=$('<thead></thead>').append("<tr></tr>")
                        $('#listado').append(ListarTabla(msg, table, row));          
                    
                 },
                    error:
                    function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                });

        
        function ListarTabla(msg, table, row){         
                row.append($('<th></th>').html(""));
                row.append($('<th></th>').html("<b>Nº DE SOLICITUD</b>"));                            
                row.append($('<th></th>').html("<b>FECHA</b>"));
                row.append($('<th></th>').html("<b>HORA</b>"));
                row.append($('<th></th>').html("<b>TIPO DE FALLA</b>"));
                row.append($('<th></th>').html("<b>ESTATUS</b>"));
                
                table.append(row);  
                var row2 = $('<tbody></tbody>');
                resultadonumero.innerHTML="Mostrando <span class='badge'>"+msg[0].m+"</span> Resultados";

                for(i=0; i<msg[0].m; i++){
                   
                        var row3=$('<tr></tr>');
                        var fila0=$('<td></td>').text(i);
                        var fila1 = $('<td></td>').text(msg[i].id);
                        var fila2 = $('<td></td>').text(msg[i].fechadeingreso);
                        var fila3 = $('<td></td>').text(msg[i].hora);
                        var fila4 = $('<td></td>').text(msg[i].tipodefalla);
                        var fila5="";
                        if(msg[i].estatus=="1")
                        var fila5 = $('<td></td>').text("No Asignado");
                        if(msg[i].estatus=="2")
                        var fila5 = $('<td></td>').text("Asignado");
                        if(msg[i].estatus=="3")
                        var fila5 = $('<td></td>').text("Solucionado");
                        if(msg[i].estatus=="4")
                        var fila5 = $('<td></td>').text("No Solucionado");                     
                        console.log(i+" "+msg[i].id);
                         row3.append(fila0);
                        row3.append(fila1);
                        row3.append(fila2);
                        row3.append(fila3);
                        row3.append(fila4);  
                        row3.append(fila5); 
                        row2.append(row3);                              
                       
                    
                     
                }
                table.append(row2);
                return table;
            }

        });
    </script>