<div class="row">
        <div class="col-xs-12">
             <ol class="breadcrumb">
                <li id="menuprincipal"><a href="#">MENU PRINCIPAL</a>
                </li>
                <li class="active">VER INFORME</li>
            </ol>
        </div>
</div>
<br>
<div class="alinearizquierda2" id="resultadonumero"></div>
<div class="datagrid" id="listado">
        <table style="width:100%;" class="table hover">
        	<thead>
        		<tr>
                    <th>
                        
                    </th>
        			<th>
        				Nº DE SOLICITUD
        			</th>
        			<th>
        				FECHA
        			</th>
        			<th>
        				HORA
        			</th>
        			<th>
        				DIAGNOSTICO
        			</th>
                    <th>
                        SOLUCION
                    </th>
                    <th>
                        ESTADO
                    </th>
                    <th>
                    	VER MAS
                    </th>
        		</tr>
        	</thead>
            <!-- <tbody>
                <tr>   
                    <td></td>
                    <td>00000001</td>
                    <td>12/12/14</td>
                    <td>7:00PM</td>
                    <td>asdasd</td>
                    <td>asdsad</td>
                    <td>Reportada</td>
                </tr>
            </tbody> -->
        </table>
    </div>

    <div class="modal fade" id="informe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="img/logo1.png"  class="img-responsive" alt="Responsive image">
      </div>
      <div class="modal-body">
      	<div class="row">
						<div class="col-xs-7">
						</div>
						<div class="col-xs-2">
							Fecha:
						</div>
						<div class="col-xs-3" id="fechainforme">
							
						</div>
		      		 </div>
		      		  <div class="row">
							<div class="col-xs-7">
							</div>
							<div class="col-xs-2">
								Reloj:
							</div>
							<div class="col-xs-3" id="horainforme" >
								
							</div>
		      		 </div>
		      		 <div id="alertas"></div>
		      		 <hr>
		      		 <br>
				    
				    <!-- <div class="alinearizquierda2">Solicitudes Procesadas</div>
				    <hr> -->
				    <div class="alinearizquierda">Datos de solicitud</div>
					    <div class="datagrid" id="listado">
	   						 <table style="width:100%;" class="table hover">
	   						 <thead>
	   						 	<tr>
	   						 		<th>
				        				Nº DE SOLICITUD
				        			</th>
				        			<th>
				        				FECHA
				        			</th>
				        			<th>
				        				HORA
				        			</th>
				        			<th>
				        				REPORTADA POR
				        			</th>
				        			<th>
				        				ESTATUS
				        			</th>
	   						 	</tr>
	   						 </thead>
	   						 <tbody>
	   						 	<tr>
	   						 		<td id="nsolicitud"></td>
	   						 		<td id="fecha"></td>
	   						 		<td id="hora"></td>
	   						 		<td id="reportadapor"> </td>
	   						 		<td id="estado"></td>
	   						 	</tr>
	   						 </tbody>
	   						</table>				  
					    </div>
				    <br>
				    <div class="alinearizquierda">Datos de Ubicacion</div>
				       <div class="datagrid" id="listado2" >
	   						 <table style="width:100%;" class="table hover">
	   						 <thead>
	   						 	<tr>
	   						 		<th>
				        				UNIDAD GENERAL
				        			</th>
				        			<th>
				        				SUB-UNIDAD GENERAL
				        			</th>
				        			<th>
				        				UNIDAD
				        			</th>
				        			<th>
				        				SUB-UNIDAD
				        			</th>
				        			<th>
				        				TELEFONO
				        			</th>
	   						 	</tr>
	   						 </thead>
	   						 <tbody>
	   						 	<tr>
	   						 		<td id="unidadgeneral"></td>
	   						 		<td id="subunidadgeneral"></td>
	   						 		<td id="unidad"></td>
	   						 		<td id="subunidad"></td>
	   						 		<td id="telefono"></td>
	   						 	</tr>
	   						 </tbody>
	   						</table>				  
					    </div>
				    <br>
				    <hr>
				    <br>
				     <div class="row">
				            <div class="col-xs-2">
				                 Tipo de Falla: 
				            </div>
				             <div class="col-xs-4">
				                 <select class="form-control input-sm" id="tipo">
				                 	 <option value="-1"></option>
		                                <option >FALLA 1 </option>
		                                <option >FALLA 2</option>
		                                <option >FALLA 3</option>
				                 </select>
				            </div>
				            <div class="col-xs-1">
				                 Descripcion: 
				            </div>
				            <div class="col-xs-5">
				                 <textarea rows="2" cols="2" class="form-control input-sm" id="descripcion" disabled></textarea>
				            </div>         
				           
				    </div>
				    <div class="alinearizquierda">Detalles del servicio</div>
				    <div class="row">
				            <div class="col-xs-2">
				                 Diagnostico:
				            </div>
				            <div class="col-xs-10">
				            	<textarea rows="2" cols="2" class="form-control input-sm" id="diagnostico"></textarea>
				            </div>				            
				    </div>
				    <BR>
				     <div class="row">
				            <div class="col-xs-2">
				                Solucion:
				            </div>
				            <div class="col-xs-1">
				                
				            </div>
				            <div class="col-xs-10">
				                 <textarea rows="2" cols="2" class="form-control input-sm" id="solucion"></textarea>
				            </div>				            
				    </div>
				    <BR>
				    <div class="row">
				            <div class="col-xs-2">
				                Observacion:
				            </div>
				            <div class="col-xs-10">
				                 <textarea rows="2" cols="2" class="form-control input-sm" id="observacion"></textarea>
				            </div>				            
				    </div>
				    <BR>
				    <div class="row">
				            <div class="col-xs-2">
				                Estatus:
				            </div>
				            
				            <div class="col-xs-10">
				                 <select class="form-control input-sm" id="estado">
				                 	<option value="-1"></option>
				                 	<option value="3">Solucionado</option>
				                 	<option value="4">No Solucionado</option>
				                 </select>
				            </div>				            
				    </div>
				    <BR>
				    <hr>
				    <div class="alinearizquierda">Tipo de soporte realizado</div>
				    <BR>
				    <div class="alinearizquierda2">
				    	
				        <input type="radio" id="soporte" checked="true">
				      <label>Soporte en Sitio</label><br>
				   
				        <input type="radio" id="viaTelefonica" >
				      <label>Via telefonica</label><br>
				     <input type="radio" id="traslado">
				      <label>Traslado a Trailer de Soporte</label><br>
				    </div>
      </div><!-- modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

       <script type="text/javascript"> 
        $(document).ready(function() {
         		$.ajax
					({
					type: "POST",
				   	url: "modelo/consultasAsignaciones.php",
				   	data: {id:5},
					async: false,	
					dataType: "json",	
					success:
				    function (msg) 
					{	
						 $('#listado').html("");
                        
                        var table = $('<table style="width:100%;" class="table"></table>');                         
                        var row=$('<thead></thead>').append("<tr></tr>")
                        $('#listado').append(ListarTabla(msg, table, row)); 
						eventoslistado();
				     },
				        error:
				        function (msg) {console.log( msg +"No se pudo realizar la conexion");}
					});

        function eventoslistado(){

        $('a.informe').on('click',  function(){
			var ID=$(this).attr('name');
			//console.log("id: "+ID);
			$.ajax
                ({
                type: "POST",
                url: "modelo/consultasAsignaciones.php",
                data: {id:6, idInforme:ID},
                async: false,   
                dataType: "json",       
                success:
                function (msg) 
                {   
                   	console.log(msg[0].fechainforme+ "hola");
                   	fechainforme.innerHTML=msg[0].fechainforme;
                   	horainforme.innerHTML=msg[0].hora1;
                   	nsolicitud.innerHTML=msg[0].idsolicitud;
                   	fecha.innerHTML=msg[0].fechadeingreso;
                   	hora.innerHTML=msg[0].hora2;
                   	estado.innerHTML=msg[0].estado;
                   	unidadgeneral.innerHTML=msg[0].unidadgeneral;
                   	subunidadgeneral.innerHTML=msg[0].subunidadgeneral;
                   	unidad.innerHTML=msg[0].unidad;
                   	subunidad.innerHTML=msg[0].unidadgeneral2;
                   	telefono.innerHTML=msg[0].telefono;
                    $('#tipo').val(msg[0].tipodefalla);
                    $('#descripcionfalla').val(msg[0].descripciondefalla);
                   	/*

                    tNumeroSolicitud.value=msg[0].id;
                    
                    Fecha2.value=msg[0].fechadeingreso;
                    reloj2.value=msg[0].hora;
                    tcoordinacion2.value=msg[0].coordinacion;
                    tdepartamento2.value=msg[0].departamento;
                    tubicacion2.value=msg[0].ubicacion;
                    tTelefono2.value=msg[0].telefono;
                    tcodigoequipo2.value=msg[0].codigoequipo;
                    ttipoequipo2.value=msg[0].tipoequipo;
                    tserial2.value=msg[0].serial;
                    tcodigobienes2.value=msg[0].codigobienes;
                    obtenerTecnicos();
                    asignar();
                    buscarAsignacion(msg[0].id);*/
                    diagnostico.value=msg[0].diagnostico;
					solucion.value=msg[0].solucion;
					observacion.value=msg[0].observacion;
					$('#estado').val(msg[0].estado);
					if(msg[0].soporte==1){
						soporte.checked=true;
						viaTelefonica.checked=false;
						traslado.checked=false;
					}	
					if(msg[0].soporte==2){
						viaTelefonica.checked=true;
						soporte.checked=false;
						traslado.checked=false;
					}		
					if(msg[0].soporte==3){
						traslado.checked=true;
						soporte.checked=false;
						viaTelefonica.checked=false;
					}
                 },
                    error:
                    function (msg) {console.log( msg +"No se pudo realizar la conexion");}
                });
		});}
        function ListarTabla(msg, table, row){         
                row.append($('<th></th>').html(""));
                row.append($('<th></th>').html("<b>Nº DE SOLICITUD</b>"));                            
                row.append($('<th></th>').html("<b>FECHA</b>"));
                row.append($('<th></th>').html("<b>HORA</b>"));
                row.append($('<th></th>').html("<b>DIAGNOSTICO</b>"));
                row.append($('<th></th>').html("<b>SOLUCION</b>"));
                row.append($('<th></th>').html("<b>VER MAS</b>"));
                table.append(row);  
                var row2 = $('<tbody></tbody>');

           		resultadonumero.innerHTML="Mostrando <span class='badge'>"+msg[0].m+"</span> Resultados";
                for(i=0; i<msg[0].m; i++){
                        var row3=$('<tr></tr>');
                        var fila0=$('<td></td>').text((i+1));
                        var fila1 = $('<td></td>').text(msg[i].idsolicitud);
                        var fila2 = $('<td></td>').text(msg[i].fechainforme);
                        var fila3 = $('<td></td>').text(msg[i].hora);
                        var fila4 = $('<td></td>').text(msg[i].diagnostico);
                        var fila5 = $('<td></td>').text(msg[i].solucion);
                        var fila6 = $('<td></td>').append('<a  class="informe btn btn-default btn-xs" data-toggle="modal" data-target="#informe"  title="Informe Detallado" name="'+msg[i].id+'"> <span class="glyphicon glyphicon-eye-open"></span></a>');	
                        row3.append(fila0);
                        row3.append(fila1);
                        row3.append(fila2);
                        row3.append(fila3);
                        row3.append(fila4);  
                        row3.append(fila5); 
                        row3.append(fila6); 
                        row2.append(row3);                              
                       
                    
                     
                }
                table.append(row2);
                return table;
            }

        });
    </script>